# Django 4.2.1
asgiref==3.7.2
Django==4.2.1
sqlparse==0.4.4
tzdata==2023.3

# Django REST Framework 3.14.0
djangorestframework==3.14.0
pytz==2023.3

# DRF JWT 5.2.2
djangorestframework-simplejwt==5.2.2
PyJWT==2.6.0

# DRF-YASG (Swagger UI Docs)
certifi==2022.12.7
charset-normalizer==2.1.1
coreapi==2.3.3
coreschema==0.0.4
drf-yasg==1.21.4
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==22.0
requests==2.28.1
ruamel.yaml==0.17.21
uritemplate==4.1.1

# Django Cors Headers 4.0.0
django-cors-headers==4.0.0

# Django Filter 23.2
django-filter==23.2

# Boto3 1.9 (AWS SDK for Python)
boto3==1.24.72
botocore==1.27.72
jmespath==1.0.1
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.12

# Web Scraper (BS4 0.0.1)
bs4==0.0.1
beautifulsoup4==4.11.1
soupsieve==2.3.2post1
lxml==4.9.2
